@model CIS.Models.Beneficiary

@{
    ViewData["Title"] = "AddBeneficiary";
    Layout = "~/Views/Shared/_Admin.cshtml";
    var user = TempData["LoggedInUser"];
    var message = TempData["benCreated"];
}

<h1>AddBeneficiary</h1>

<div class="welcome-message">
    <p>Welcome : @user</p>
</div>
<hr />
<div class="row">
    <div>
        <p>@message</p>
    </div>
    <div>
        <form asp-action="AddBeneficiary" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <input asp-for="FirstName" class="form-control" placeholder="First Name"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" type="number" maxlength="10"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="EMail" class="form-control" placeholder="E-Mail" type="email"/>
                <span asp-validation-for="EMail" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
