@model CIS.Models.Relations.ViewModelBeneficiarySchemeApplied
@{
    ViewData["Title"] = "AssociateSchemesBeneficiary";
    Layout = "~/Views/Shared/_User.cshtml";
}

<h1>AssociateSchemesBeneficiary</h1>

<div class="row">
    <div class="col-6">
        <h5>Select Beneficiary</h5>
          <div class="form-group">
                <label  class="control-label">Category</label>
                <select asp-for="Beneficiary"
                        asp-items="@(new SelectList(Model.Beneficiary, nameof(CIS.Models.Beneficiary.Id), nameof(CIS.Models.Beneficiary.FirstName)))">
                    <option>Please select one</option>
                </select>
            </div>
    </div>
    <div class="col-6">
        <h5>Apply Scheme</h5>
        <div class="form-group">
            <label class="control-label">Category</label>
            <select asp-for="Schemes"
                    asp-items="@(new SelectList(Model.Schemes, nameof(CIS.Models.Scheme.Id), nameof(CIS.Models.Scheme.SchemeName)))">
                <option>Please select one</option>
            </select>
        </div>
    </div>
</div>