@model CIS.Models.SchemeViewModel

@{
    ViewData["Title"] = "AddScheme";
    Layout = "~/Views/Shared/_User.cshtml";
    var user = TempData["LoggedInUser"];
}

<h1>AddScheme</h1>

<h4>Scheme</h4>
<hr />
<div class="welcome-message">
    <p>Welcome : @user</p>
</div>
<div class="row">
    <div>
        <form asp-action="AddScheme" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="scheme.SchemeName" class="control-label"></label>
                <input asp-for="scheme.SchemeName" class="form-control" />
                <span asp-validation-for="scheme.SchemeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Category</label>
               @* <select asp-for="categories" class="form-control"
                        asp-items="@(new SelectList(Model.categories, nameof(CIS.Models.Category), nameof(CIS.Models.Category.CategoryName)))">
                    <option>Please select Beneficiary</option>
                </select>*@
                <select asp-for="scheme.Category.Id" id="idCategory" class="form-control">
                    <option selected>Please Choose...</option>
                    @foreach(var cat in Model.categories){
                        <option value="@cat.Id">@cat.CategoryName</option>
                    }
                </select>
                <span asp-validation-for="scheme.Category.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scheme.SchemeDescription" class="control-label"></label>
                <textarea asp-for="scheme.SchemeDescription" class="form-control text-area"></textarea>
                <span asp-validation-for="scheme.SchemeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

