@model CIS.Models.Scheme

@{
    ViewData["Title"] = "EditScheme";
    Layout = "~/Views/Shared/_User.cshtml";
    var user = TempData["LoggedInUser"];
}

<h1>Edit Scheme</h1>

<div class="welcome-message">
    Welcome : @user
    <p>@Html.ActionLink("Logout", "Logout", "Admin")</p>
</div>

<h4>Scheme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditScheme" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group is-hidden">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchemeName" class="control-label"></label>
                <input asp-for="SchemeName" class="form-control" />
                <span asp-validation-for="SchemeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchemeDescription" class="control-label"></label>
                <input asp-for="SchemeDescription" class="form-control" />
                <span asp-validation-for="SchemeDescription" class="text-danger"></span>
            </div>
            <div class="form-group is-hidden">
                <label asp-for="Category.Id" class="control-label"></label>
                <input asp-for="Category.Id" class="form-control"/>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group form-check is-hidden">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="ViewBeneficiary" asp-controller="User">Back to List</a>
</div>*@

