@model CIS.Models.User
@{
    Layout = "~/Views/Shared/_User.cshtml";
    var user = $"{Model.FirstName} {Model.LastName}";
}
<html lang="es" dir="ltr">
<head>
</head>
<body>
  <div class="welcome-message">
      Welcome : @user
      <p>@Html.ActionLink("Logout", "Logout", "Admin")</p>
  </div>   
</body>
</html>